<link rel="stylesheet" href="{{ url_for('static',filename='css/rating.css')}}">
<!-- Scripts -->
{#<script src="static/j-folder/js/jquery.1.11.1.min.js"></script>#}
{#<script src="static/j-folder/js/jquery.ui.min.js"></script>#}
{#<script src="static/j-folder/js/jquery.maskedinput.min.js"></script>#}
<script src="static/js/rating.js"></script>



<span class="star-input">
  <span class="input">
    <input type="radio" name="star-input" id="p1" value="1"><label for="p1">1</label>
    <input type="radio" name="star-input" id="p2" value="2"><label for="p2">2</label>
    <input type="radio" name="star-input" id="p3" value="3"><label for="p3">3</label>
    <input type="radio" name="star-input" id="p4" value="4"><label for="p4">4</label>
    <input type="radio" name="star-input" id="p5" value="5"><label for="p5">5</label>
    <input type="radio" name="star-input" id="p6" value="6"><label for="p6">6</label>
    <input type="radio" name="star-input" id="p7" value="7"><label for="p7">7</label>
    <input type="radio" name="star-input" id="p8" value="8"><label for="p8">8</label>
    <input type="radio" name="star-input" id="p9" value="9"><label for="p9">9</label>
    <input type="radio" name="star-input" id="p10" value="10"><label for="p10">10</label>
  </span>
  <output for="star-input"><b>0</b>점</output>
</span>