<header class="header header-transparent">
    <div class="header-wrapper" style="background-image: url('/static/assets/img/tmp/slider-large-3.jpg');">

        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="/">
                        <img src="/static/img/logo1_mod.png" class='logo' alt="Logo" style="width: 30px; height: 30px;">
{#                        <img src="/static/assets/img/logo-white.png" alt="Logo">#}
{#                        <img src={{ url_for('static', filename = "img/logo-white.png")  }} alt="Logo">#}
                        <span>봉사왕심봉사</span>
                    </a>
                </div><!-- /.header-logo -->

                <div class="header-content">
                    <div class="header-bottom">
                        <div class="header-action">
                            <a href="listing-submit.html" class="header-action-inner" title="Add Listing" data-toggle="tooltip" data-placement="bottom">
                                <i class="fa fa-plus"></i>
                            </a><!-- /.header-action-inner -->
                        </div><!-- /.header-action -->

                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
{#    <li class="active">#}
{#        <a href="#">Home <i class="fa fa-chevron-down"></i></a>#}
{##}
{#        <ul class="sub-menu">#}
{#            <li><a href="index-video.html">Video v1</a></li>#}
{#            <li><a href="index-video-transparent-header.html">Video v2</a></li>#}
{#            <li><a href="index-google-map.html">Google Map V1</a></li>#}
{#            <li><a href="index-google-map-transparent-header.html">Google Map v2</a></li>#}
{#            <li><a href="index-image.html">Image v1</a></li>#}
{#            <li><a href="index.html">Image v2</a></li>#}
{#            <li><a href="index-bootstrap-slider.html">Boxed Slider</a></li>#}
{#        </ul>#}
{#    </li>#}
{##}
{#    <li >#}
{#        <a href="#">Listing <i class="fa fa-chevron-down"></i></a>#}
{##}
{#        <ul class="sub-menu">#}
{#            <li><a href="listing-detail.html">Detail</a></li>#}
{#            <li><a href="listing-map.html">Row + Map</a></li>#}
{#            <li><a href="listing-grid.html">Grid</a></li>#}
{#            <li><a href="listing-grid-sidebar.html">Grid Sidebar</a></li>#}
{#            <li><a href="listing-row.html">Row</a></li>#}
{#            <li><a href="listing-row-sidebar.html">Row Sidebar</a></li>#}
{#        </ul>#}
{#    </li>#}
{##}
{#    <li class="has-mega-menu ">#}
{#        <a href="#">Pages <i class="fa fa-chevron-down"></i></a>#}
{##}
{#        <ul class="mega-menu">#}
{#            <li>#}
{#                <a href="#">General</a>#}
{##}
{#                <ul>#}
{#                    <li><a href="faq.html">FAQ</a></li>#}
{#                    <li><a href="invoice.html">Invoice</a></li>#}
{#                    <li><a href="pricing.html">Pricing</a></li>#}
{#                    <li><a href="grid.html">Grid System</a></li>#}
{#                    <li><a href="testimonials.html">Testimonials</a></li>#}
{#                </ul>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <a href="#">User Account</a>#}
{##}
{#                <ul>#}
{#                    <li><a href="user-profile-edit.html">Profile Edit</a></li>#}
{#                    <li><a href="login.html">Login Form</a></li>#}
{#                    <li><a href="register.html">Register Form</a></li>#}
{#                    <li><a href="change-password.html">Change Password Form</a></li>#}
{#                </ul>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <a href="#">Miscellaneous</a>#}
{##}
{#                <ul>#}
{#                    <li><a href="sticky-footer.html">Sticky Footer</a></li>#}
{#                    <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>#}
{#                    <li><a href="error-403.html">403 - Forbidden</a></li>#}
{#                    <li><a href="error-404.html">404 - Not Found</a></li>#}
{#                    <li><a href="error-500.html">500 - Internal Error</a></li>#}
{#                </ul>#}
{#            </li>#}
{##}
{#            <li class="hidden-xs">#}
{#                <div class="special">#}
{#                    <a href="register.html">Sign Up Now</a>#}
{#                </div><!-- /.special-->#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}

    <li >
        <a href="#">추천페이지 <i class="fa fa-chevron-down"></i></a>

        <ul class="sub-menu">
            <li><a href="/user_detail">추천하는 봉사활동</a></li>
{#            <li><a href="blog-standard-right-sidebar.html">Standard Right Sidebar</a></li>#}
{#            <li><a href="blog-standard-left-sidebar.html">Standard Left Sidebar</a></li>#}
{#            <li><a href="blog-boxed.html">Boxed Style</a></li>#}
{#            <li><a href="blog-condensed.html">Condensed Style</a></li>#}
{#            <li><a href="blog-detail.html">Detail Fullwidth</a></li>#}
{#            <li><a href="blog-detail-right-sidebar.html">Detail Right Sidebar</a></li>#}
{#            <li><a href="blog-detail-left-sidebar.html">Detail Left Sidebar</a></li>#}
        </ul>
    </li>

    <li >
        <a href="#">Admin <i class="fa fa-chevron-down"></i></a>

        <ul class="sub-menu">
            <li><a href="admin-dashboard.html">Dashboard</a></li>
            <li><a href="admin-grid.html">Grid System</a></li>
            <li><a href="admin-tables.html">Tables</a></li>
            <li><a href="admin-forms.html">Forms</a></li>
            <li><a href="admin-notifications.html">Notifications</a></li>
        </ul>
    </li>

    <li >
{#        <a href="#">Contact <i class="fa fa-chevron-down"></i></a>#}
            {% if current_user.is_authenticated %}
                <a href="/logout">로그아웃</a>
            {% else %}
                <a href="/login">로그인</a>
            {% endif %}
{#        <a href="/login">로그인</a>#}
{#        <ul class="sub-menu">#}
{#            <li><a href="contact-1.html">Contact v1</a></li>#}
{#            <li><a href="contact-2.html">Contact v2</a></li>#}
{#            <li><a href="contact-3.html">Contact v3</a></li>#}
{#        </ul>#}
    </li>
</ul>

<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->